@import url('../../.cache/wal/colors-waybar.css');

* {
	font-family: 'Mononoki Nerd Font';
	font-size: 14px;
}
#waybar {
	background: transparent;
	color: @foreground;
}
#workspaces,#window, #clock, #tray, #network, #wireplumber, #cpu, #memory, #custom-theme-switcher, #custom-cava {
	background-color: @color0;	
	color: @foreground;
	border-bottom: 4px solid @color1;
	padding: 1px 15px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 0px;
	border-radius: 3px;
}
#custom-theme-switcher {
	color: @color1;
}
#workspaces button {
  color: @foreground;
  border-radius: 5px; /* Workspaces buttons are always rounded */
  padding: 0.3rem 0.6rem;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
#workspaces button:hover {
  color: @foreground;
}
