@import url('../../.cache/wal/colors-waybar.css');

* {
	font-family: 'Mononoki Nerd Font';
	font-size: 14px;
}
#waybar {
	background-color: @color0;
	color: @foreground;
	border-bottom: 4px solid @color1;
}
