* {
	font-family: "Mononoki Nerd Font";	
}
window {
margin: 0px;
border: 1px solid #106B92;
background-color: #106B92;
}

#input {
margin: 5px;
border: none;
color: #A3D7E3;
background-color: #051820;
}

#inner-box {
margin: 5px;
border: none;
background-color: #051820;
}

#outer-box {
margin: 5px;
border: none;
background-color: #051820;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #A3D7E3;
}

#entry:selected {
background-color: #106B92;
}

